<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/booktable</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->
    <mapping class="Entity.BooktableEntity"/>
    <mapping resource="Entity/BooktableEntity.hbm.xml"/>
      <mapping class="bookstorebackend.Entity.BooktableEntity"/>
      <mapping resource="bookstorebackend/Entity/BooktableEntity.hbm.xml"/>
      <mapping class="bookstorebackend.Entity.BookImageEntity"/>
      <mapping resource="bookstorebackend/Entity/BookImageEntity.hbm.xml"/>
      <mapping class="bookstorebackend.Entity.BooklistEntity"/>
      <mapping resource="bookstorebackend/Entity/BooklistEntity.hbm.xml"/>
      <mapping class="bookstorebackend.Entity.UserEntity"/>
      <mapping resource="bookstorebackend/Entity/UserEntity.hbm.xml"/>
      <mapping resource="bookstorebackend/Entity/BookEntity.hbm.xml"/>
      <mapping class="bookstorebackend.Entity.BookEntity"/>
      <mapping class="bookstorebackend.Entity.UserEntity"/>
      <mapping resource="bookstorebackend/Entity/BookcacheEntity.hbm.xml"/>
      <mapping class="bookstorebackend.Entity.BookcacheEntity"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>